
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>

  <body>
    #Hello World
    <p><%= username %>
    <p><%= password %>
    <br>
    <form method="post" action="/hello">
        <input name="username" placeholder="username">
        <br>
        <input name="password" type="password" placeholder="password">
        <br>
        <input class="button" type="submit" value="Update Greeting">
    </form>

  </body>
</html>
