/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-color: #f7f7f7;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}




/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}




/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        width: 250px;

        /*background: -webkit-linear-gradient(left top, lightblue , #ffd700); !* For Safari 5.1 to 6.0 *!*/
        /*background: -o-linear-gradient(bottom right, lightblue, #ffd700); !* For Opera 11.1 to 12.0 *!*/
        /*background: -moz-linear-gradient(bottom right, lightblue, #ffd700); !* For Firefox 3.6 to 15 *!*/
        background: linear-gradient(to bottom, #f4801f , #f7f7f7); /* Standard syntax */;
        background-color: #f4801f;
        border-right: 1px solid #eee;
    }

}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #5e5e5e;
}




/*
 * Main content
 */

.main {
    padding: 20px;

}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 25px;
}

.main h1{
    text-align: center;
    color: #f4801f;
    font-size: 50px;
}

.main #categoryNameInput:focus {
    /*background-color: #ffd700;*/
    color: black;
}

.main h4, h2 {
    color: black;
}

section{
    text-align: center;
}

.main form button{
    background-color: #f4801f;
}

.main form button:hover{
    background-color: green;
    color: white;
}


.main .control-label {
    color: black;
}

/*
 * Table Content
 */

.table-responsive {
    display: block;
    margin: auto;
}

table {
    display: table;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-collapse: separate;
}

table th {
    color: white;
    background-color: #f4801f;
    text-align: center;
}


table th#deleteHead {
    color: white;
    background-color: red;
}

table .table-button {
    display: block;
    margin: auto;
    width: 65px;
    height: 30px;
}

table button:hover {
    background-color: #f4801f;
    color: white;
}

table button.deleteButton:hover {
    color: white;
    background-color: red;
}



.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

i{
    font-size: 4em;
}
